<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>

        <main class="container">
            <% if(products.length> 0) { %>
                <div class="row">
                    <% for(product of products){ %>
                        <div class="col-md-4">
                            <div class="card p-1 shadow border border-4 border-primary  border-start-0  border-end-0"
                                style="width: 18rem;">
                                <h5 class="card-title p-3 text-center ">
                                    <%= product.title %>
                                </h5>
                                <img src="<%= product.imageUrl %> " class="card-img-top" style="height: 200px;"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title p-3 text-center">$<%= product.price %>
                                    </h5>
                                    <p class="card-text text-justify">
                                        <%= product.description %>
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="/product/<%= product._id %>"
                                            class="btn btn-primary ">Product Detail</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <% }else{ %>
                    <h1>No Product Found</h1>
                    <% } %>
        </main>



        <%- include('../includes/end.ejs') %>